<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>PlayerPrint</title>
</head>
<body>
    <H1><strong>TrueRecruit</strong></H1>

        <img class="card" height="300px" src="{{player.image}}">
        <br>
        <h3><strong>{{player.name}}</strong></h3>
                <h6>{{player.city}}, {{player.state}}</h6>
                 <hr>
                 <h6>Age: {{ player.age }} --- Graduation Year: {{player.gradyear}}</h6>
                <h6>Position: {{player.position}}</h6>

                <h6>School: {{player.school}} --- GPA: {{player.gpa}}</h6>
                <h6>Club: {{player.club}}</h6>
                <h6>Height: {{player.height}} --- Weight: {{player.weight}}</h6>
                <hr>
                <h6>Email: {{player.email}}</h6>
                <h6>Phone: {{player.phone}}</h6>

                <hr>
                <h6>About Me:</h6>
                {{player.summary}}
                <br>
                <br>
                <h6>Experience:</h6>
                {{player.skills}}


</body>
</html>