    <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Player Information</title>
</head>
<header style="padding-bottom: 20px">
 <nav class = "navbar navbar-dark " style="padding-bottom: 20px; background: black;">
    <a href="{% url 'recruit:home' %}"><h1 class="navbar-brand" style= font-size:3em;">TrueRecruit</h1></a>
     <div class="navbar">
                <a href="{% url 'recruit:home' %}" class="nav-item nav-link">Home</a>
                 <a href="{% url 'recruit:player_list' %}" class="nav-item nav-link">Players</a>
                 <a href="{% url 'recruit:coach_list' %}" class="nav-item nav-link">Coaches</a>
                  {% if user.is_authenticated %}
             <a class="nav-item nav-link" href="{% url 'recruit:profile' %}">Profile</a>
                      <a class="nav-item nav-link" href="{% url 'recruit:logout' %}">Logout</a>
        {% else %}
              <a class="nav-item nav-link" href="{% url 'recruit:login' %}">Login</a>
        {% endif %}

    </div>
 </nav>
</header>
<body>






{% if user.type == 'PLAYER' %}


 <div class="row">
            <div class="col-md-2.5 offset-md-1">
                <img class="card" height="500px" src="{{user.playermore.image}}">
                <br>
                <a href="{{user.playermore.id}}/print" class="btn btn-warning">Download Profile</a>
                 <a href="{{user.id}}/update" class="btn btn-warning">Update</a>
            </div>
            <div class="col-md-7 ">
                <h1>{{user.playermore.name}}</h1>
                <h6>{{user.playermore.city}}, {{user.playermore.state}}</h6>
                 <hr>
                 <h6>Age: {{ user.playermore.age }} --- Graduation Year: {{user.playermore.gradyear}}</h6>
                <h6>Position: {{user.playermore.position}}</h6>

                <h6>School: {{user.playermore.school}} --- GPA: {{user.playermore.gpa}}</h6>
                <h6>Club: {{user.playermore.club}}</h6>
                <h6>Height: {{user.playermore.height}} --- Weight: {{user.playermore.weight}}</h6>
                <hr>
                <h6>Email: {{user.playermore.email}}</h6>
                <h6>Phone: {{user.playermore.phone}}</h6>

                <hr>
                <h6>About Me:</h6>
                {{user.playermore.summary}}
                <br>
                <br>
                <h6>Experience:</h6>
                {{user.playermore.skills}}
                <hr>
                </div>
            </div>
    </div>
{% endif %}






{% if user.type == 'COACH' %}
    <div class="row">
            <div class="col-md-2.5 offset-md-1">
                <img class="card" height="500px" src="{{user.coachmore.image}}">
                 <a href="{{user.coachmore.id}}/update" class="btn btn-warning">Update</a>
            </div>
            <div class="col-md-7 ">
                <h1>{{user.coachmore.name}}</h1>
                <h4>{{user.coachmore.school}}  --- {{ user.coachmore.state }}</h4>
                <h4>{{user.coachmore.position}}</h4>
                <hr>
                <h6>Email: {{user.coachmore.email}}</h6>
                <h6>Phone: {{user.coachmore.phone}}</h6>
                <hr>
                <h6>Experience:</h6>
                {{user.coachmore.experience}}
               <hr>
                <h6>Team Requirements:</h6>
                {{user.coachmore.requirements}}


            </div>
</div>
{% endif %}

</body>
</html>